<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>BrewPi</title>

        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" type="text/css" href="../static/style_hamburger.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script language="JavaScript" src="../static/hamburger.js" type="text/javascript"> </script>

    </head>

    <body>

        <div id="menu">
		<div class="hamburger">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</div>
		<div class="menu-inner">

			<ul>
                <li><a href="index.html">Home</a></li>
				<li><a href="recipes.html">Recipes</a></li>
                <li><a href="malts.html">Malts</a></li>
                <li><a href="hops.html">Hops</a></li>
                <li><a href="monitor.html">Monitor</a></li>
			</ul>
		</div>



		<svg version="1.1" id="blob"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<path id="blob-path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z"/>
		</svg>
	</div>

    <button class="button button5">json Upload</button>

    </body>
</html>